.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper {
  box-sizing: border-box;
  background-color: rgb(180, 126, 126);
  display: flex;

  div {
    p {
      margin-right: 40;
      border: 1px solid red;
      /* float: left; */
      /* margin: 0 0.5em; */
      padding: 0 0.5em;
    }
  }

  ul {
    border: 1px solid green;
    /* float: right; */
    list-style-type: none;
    /* text-align: right; */
    width: 90%;
    li {
      /* display: inline-block; */
      float: right;
      /* width: 100%; */
      a {
        /* display: inline-block; */
        padding: 0 0.5em;
        text-decoration: none;
        /* width: 100%; */
      }
    }
  }
}
